.foot {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.foot1 {
  height: 100%;
  width: 48%;
  background-color: #fff;
  align-self: center;
  text-align: center;
  margin-top: 8%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150.6%;
}
.foot2 {
  height: 100%;
  width: 48%;
  margin-left: 50%;
  margin-top: 1.8%;
  background-color: #fff;

  svg {
    fill: #553d67;
    height: 2rem;
    width: 2rem;
    margin-top: 10%;
    margin-right: 15px;
  }
}
